:root {
  --color-primary-main: #1c88cc;
  --color-primary-light: #47b5fa;
}

body {
  letter-spacing: 0.2px;
}

a {
  color: var(--color-primary-main);
  font-weight: 700;
}

a:hover {
  color: var(--color-primary-light);
}
